<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <div class="header__box">

                <div class="header__burger">
                    <div class="header__burger-box">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>

                <div class="header__burger-content">
                    <div class="header__burger-content-box">
                        <ul class="menu">
                            <div class="header__search-box">
                                <input type="text" class="header__search-box-input" placeholder="Про що ти мрієш?" />
                                <button class="header__search-box-btn">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <circle cx="11" cy="11" r="8"></circle>
                                        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                    </svg>
                                </button>
                            </div>
                            <li data-category="bags" class="menu__item">
                                Сумки
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none">
                                    <path
                                        d="M7.44805 20.1618C7.14732 19.8732 7.11999 19.4216 7.36603 19.1034L7.44805 19.0122L14.7546 11.9999L7.44805 4.98761C7.14732 4.69902 7.11999 4.24741 7.36603 3.92917L7.44805 3.838C7.74877 3.5494 8.21936 3.52316 8.55097 3.75929L8.64597 3.838L16.5519 11.4251C16.8526 11.7137 16.8799 12.1653 16.6339 12.4835L16.5519 12.5747L8.64597 20.1618C8.31517 20.4793 7.77885 20.4793 7.44805 20.1618Z"
                                        fill="#1F1D1D" />
                                </svg>
                            </li>
                            <li data-category="backpacks" class="menu__item">
                                Рюкзаки
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none">
                                    <path
                                        d="M7.44805 20.1618C7.14732 19.8732 7.11999 19.4216 7.36603 19.1034L7.44805 19.0122L14.7546 11.9999L7.44805 4.98761C7.14732 4.69902 7.11999 4.24741 7.36603 3.92917L7.44805 3.838C7.74877 3.5494 8.21936 3.52316 8.55097 3.75929L8.64597 3.838L16.5519 11.4251C16.8526 11.7137 16.8799 12.1653 16.6339 12.4835L16.5519 12.5747L8.64597 20.1618C8.31517 20.4793 7.77885 20.4793 7.44805 20.1618Z"
                                        fill="#1F1D1D" />
                                </svg>
                            </li>
                            <li data-category="clothing" class="menu__item">
                                Одяг
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none">
                                    <path
                                        d="M7.44805 20.1618C7.14732 19.8732 7.11999 19.4216 7.36603 19.1034L7.44805 19.0122L14.7546 11.9999L7.44805 4.98761C7.14732 4.69902 7.11999 4.24741 7.36603 3.92917L7.44805 3.838C7.74877 3.5494 8.21936 3.52316 8.55097 3.75929L8.64597 3.838L16.5519 11.4251C16.8526 11.7137 16.8799 12.1653 16.6339 12.4835L16.5519 12.5747L8.64597 20.1618C8.31517 20.4793 7.77885 20.4793 7.44805 20.1618Z"
                                        fill="#1F1D1D" />
                                </svg>
                            </li>
                            <li data-category="wallets" class="menu__item">
                                Гаманці
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none">
                                    <path
                                        d="M7.44805 20.1618C7.14732 19.8732 7.11999 19.4216 7.36603 19.1034L7.44805 19.0122L14.7546 11.9999L7.44805 4.98761C7.14732 4.69902 7.11999 4.24741 7.36603 3.92917L7.44805 3.838C7.74877 3.5494 8.21936 3.52316 8.55097 3.75929L8.64597 3.838L16.5519 11.4251C16.8526 11.7137 16.8799 12.1653 16.6339 12.4835L16.5519 12.5747L8.64597 20.1618C8.31517 20.4793 7.77885 20.4793 7.44805 20.1618Z"
                                        fill="#1F1D1D" />
                                </svg>
                            </li>
                            <li data-category="hats" class="menu__item">
                                Шапки та шарфи
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none">
                                    <path
                                        d="M7.44805 20.1618C7.14732 19.8732 7.11999 19.4216 7.36603 19.1034L7.44805 19.0122L14.7546 11.9999L7.44805 4.98761C7.14732 4.69902 7.11999 4.24741 7.36603 3.92917L7.44805 3.838C7.74877 3.5494 8.21936 3.52316 8.55097 3.75929L8.64597 3.838L16.5519 11.4251C16.8526 11.7137 16.8799 12.1653 16.6339 12.4835L16.5519 12.5747L8.64597 20.1618C8.31517 20.4793 7.77885 20.4793 7.44805 20.1618Z"
                                        fill="#1F1D1D" />
                                </svg>
                            </li>
                            <li data-category="certificates" class="menu__item">
                                Сертифікати
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none">
                                    <path
                                        d="M7.44805 20.1618C7.14732 19.8732 7.11999 19.4216 7.36603 19.1034L7.44805 19.0122L14.7546 11.9999L7.44805 4.98761C7.14732 4.69902 7.11999 4.24741 7.36603 3.92917L7.44805 3.838C7.74877 3.5494 8.21936 3.52316 8.55097 3.75929L8.64597 3.838L16.5519 11.4251C16.8526 11.7137 16.8799 12.1653 16.6339 12.4835L16.5519 12.5747L8.64597 20.1618C8.31517 20.4793 7.77885 20.4793 7.44805 20.1618Z"
                                        fill="#1F1D1D" />
                                </svg>
                            </li>
                        </ul>

                        <div class="product-cards-container">
                            <div class="product-cards" data-category="bags">
                                <a href="#" class="product-cards__see-all">Переглянути все</a>
                                <div class="product-cards__list">
                                    <a href="#" class="product-cards__list-item">
                                        <img src="./img/burger_bag.webp" alt="handbags">
                                    </a>
                                    <a href="#" class="product-cards__list-item">
                                        <img src="./img/burger_bag.webp" alt="handbags">
                                    </a>
                                    <a href="#" class="product-cards__list-item">
                                        <img src="./img/burger_bag.webp" alt="handbags">
                                    </a>
                                </div>
                            </div>
                            <div class="product-cards" data-category="backpacks">
                                <a href="#" class="product-cards__see-all">Переглянути все</a>
                                <div class="product-cards__list">
                                    <a href="#" class="product-cards__list-item">
                                        <img src="./img/burger_bag2.webp" alt="bags">
                                    </a>
                                    <a href="#" class="product-cards__list-item">
                                        <img src="./img/burger_bag2.webp" alt="bags">
                                    </a>
                                    <a href="#" class="product-cards__list-item">
                                        <img src="./img/burger_bag2.webp" alt="bags">
                                    </a>
                                </div>
                            </div>
                            <div class="product-cards" data-category="clothing">
                                <a href="#" class="product-cards__see-all">Переглянути все</a>
                                <div class="product-cards__list">
                                    <a href="#" class="product-cards__list-item">
                                        <img src="./img/burger_clothe.webp" alt="clothes">
                                    </a>
                                    <a href="#" class="product-cards__list-item">
                                        <img src="./img/burger_clothe.webp" alt="clothes">
                                    </a>
                                    <a href="#" class="product-cards__list-item">
                                        <img src="./img/burger_clothe.webp" alt="clothes">
                                    </a>
                                </div>
                            </div>
                            <div class="product-cards" data-category="wallets">
                                <a href="#" class="product-cards__see-all">Переглянути все</a>
                                <div class="product-cards__list">
                                    <a href="#" class="product-cards__list-item">
                                        <img src="./img/burger_wallet.webp" alt="wallets">
                                    </a>
                                    <a href="#" class="product-cards__list-item">
                                        <img src="./img/burger_wallet.webp" alt="wallets">
                                    </a>
                                    <a href="#" class="product-cards__list-item">
                                        <img src="./img/burger_wallet.webp" alt="wallets">
                                    </a>
                                </div>
                            </div>
                            <div class="product-cards" data-category="hats">
                                <a href="#" class="product-cards__see-all">Переглянути все</a>
                                <div class="product-cards__list">
                                    <a href="#" class="product-cards__list-item">
                                        <img src="./img/burger_hat.webp" alt="hats">
                                    </a>
                                    <a href="#" class="product-cards__list-item">
                                        <img src="./img/burger_hat.webp" alt="hats">
                                    </a>
                                    <a href="#" class="product-cards__list-item">
                                        <img src="./img/burger_hat.webp" alt="hats">
                                    </a>
                                </div>
                            </div>
                            <div class="product-cards" data-category="certificates">
                                <a href="#" class="product-cards__see-all">Переглянути все</a>
                                <div class="product-cards__list product-certificate">
                                    <a href="#" class="product-cards__list-item">
                                        <img src="./img/burger_sertificat.webp" alt="certificates">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <nav class="header__nav">
                    <a href="#" class="header__nav-item">Категорії</a>
                    <a href="sale.html" class="header__nav-item">Sale</a>
                    <a href="shop.html" class="header__nav-item">Магазин</a>
                    <a href="aboutUsPage.html" class="header__nav-item">Про Нас</a>
                </nav>
                <a class="header__logo" href="index.html">
                    <img src="./img/logo.webp" alt="Logo">
                </a>
            </div>
            <div class="header__icons">
                <div class="header__search-field hidden">
                    <input type="text" class="header__search-input" placeholder="Мрієш про сумку?" />
                    <button class="header__search-icon--mobile" aria-label="Search">
                    </button>
                    <div class="header__search-results hidden">
                        <p class="header__search-result-item">Сумка "Лайза"</p>
                        <p class="header__search-result-item">Сумка "Екліпс"</p>
                    </div>
                </div>
                <button class="header__search-icon" aria-label="Search">
                    <img src="./img/svg/search.svg" alt="">
                </button>
                <a href="favorite.html" class="header__icon">
                    <img  src="./img/svg/heart.svg" alt="Heart">
                </a>
                <a href="basket.html" class="header__icon">
                    <img src="./img/svg/shopping-cart.svg" alt="Shopping Cart">
                    <div class="header__icon-counter">1</div>
                </a>
                
            </div>
        </div>
    </div>
</header>