<section class="about-us">
    <div class="container">
        <div class="about-us__wrapper">
            <div class="about-us__text">
                <h3 class="about-us__text-title">
                    Про нас
                </h3>
                <p class="about-us__text-article">
                    Hush Ladies – це магазин двох подруг дитинства, заснований у 2018році. Це історія про те, як ми мріяли заснувати власну справу, де на власному прикладі зможемо показати, що таке якісний український продукт та сервіс.
                </p>
            </div>
            <div class="about-us__box">
                <div class="about-us__box-image">
                    <img src="./img/about_us_persons.webp" alt="persons">
                </div>
                <div class="about-us__box-image">
                    <img src="./img/about_us_bag.webp" alt="bag">
                </div>
            </div>
            <p class="about-us__text-article">
                У нашому магазинчику представлені сумочки та аксесуари, а також з 2022року ми почали працювати з одягом. <span>90% товару – це українське виробництво.</span>
            </p>
            <div class="about-us__product">
                <div class="about-us__product-image">
                    <img src="./img/about_us_product1.webp" alt="persons">
                </div>
                <div class="about-us__product-image">
                    <img src="./img/about_us_product1.webp" alt="bag">
                </div>
                <div class="about-us__product-image">
                    <img src="./img/about_us_product1.webp" alt="bag">
                </div>
            </div>
            <p class="about-us__text-article">
                Весь товар ми підбираємо на власний смак, та лише найзатребуваніший, найтрендовіший товар на українському ринку. Всі фото ми робимо виключно самі, тому ви 100% отримаєте те, що обрали по фото на нашому сайті.
                Дуже зручно замовляти у нас товари на подаруночки – замовлення буде доставлено святково запаковане, окрім цього можемо додати листівку з вашим текстом. Працюємо офіційно. Є обмін та повернення протягом 14 днів.
                <span>Частину коштів з кожного замовлення відправляємо на ЗСУ та постраждалим від війни.</span>
            </p>

        </div>
    </div>
</section>