<section class="basket-order">
    <div class="basket-order__wrapper">
        <div class="basket-order__count">
            <div class="basket-order__count-price">
                <p>Всього:</p> <span>1390,00 UAH</span>
            </div>
            <div class="basket-order__count-discount">
                <p>Знижка:</p> <span>100,00 UAH</span>
            </div>
        </div>
        <div class="basket-order__promo">
            <label for="promo-code">Промокод</label>
            <div class="basket-order__promo-input">
                <input type="text" id="promo-code" placeholder="Введіть">
                <button class="basket-order__promo-button button btn-transparent" id="apply-promo">Застосувати</button>
            </div>
        </div>
        <div class="basket-order__total">
            <p>Кінцева ціна:</p> <p>1290,00 UAH</p>
        </div>
        <a href="checkout.html" class="basket-order__button button">
            Оформити замовлення
        </a>
        <a href="shop.html" class="basket-order__button button btn-transparent">
            Продовжити покупку
        </a>
    </div>
</section>