<section class="manager-help">
    <div class="manager-help__wrapper">
        <div class="manager-help__text">
            Шукаєте стильні сумки? Наш менеджер допоможе з вибором та оформленням замовлення. Пишіть у директ <span>–</span> ми завжди на зв’язку!
        </div>
        <img class="manager-help__instagram" src="./img/Instagram.webp" alt="instagram">
        <img class="manager-help__telegram" src="./img/Telegram.webp" alt="telegram">

        <div class="manager-help__buttons">
            <a href="#" class="button manager-help__buttons--instagram">Інстаграм</a>
            <a href="#" class="button manager-help__buttons--telegram">Телеграм</a>
        </div>
    </div>
</section>