<section class="product-tabs">
  <div class="product-tabs__wrapper">
    <div class="product-tabs__navigation">
      <div class="product-tabs__tab active" data-content="description">Опис</div>
      <div class="product-tabs__tab" data-content="sizes">Розміри</div>
      <div class="product-tabs__tab" data-content="delivery">Доставка</div>
      <div class="product-tabs__tab" data-content="returns">Повернення</div>
      <div class="product-tabs__tab" data-content="payment">Оплата</div>
    </div>
    <div class="product-tabs__content">
      <div class="product-tabs__panel active" data-content="description">
          <ul class="custom-list">
            <li>Сумка "Лайза" від Hush Ladies – це елегантний аксесуар із високоякісної еко-шкіри, який доповнить будь-який образ. Завдяки знімному довгому ремінцю її можна носити через плече або в руках. Лаконічний дизайн та продумані деталі роблять сумку універсальною як для буднів, так і для особливих подій. "Лайза" – ваш стильний і зручний супутник на кожен день.</li>
          </ul>
        </div>
      <div class="product-tabs__panel" data-content="sizes">
        <ul class="custom-list">
          <li>Розмір 11,5/9/1,5 см</li>
        </ul>
      </div>
      <div class="product-tabs__panel" data-content="delivery">
        <ul class="custom-list">
          <li>У зв’язку з військовим станом відправляємо посилки протягом 1-3 днів 
            Доставка на відділення та поштомат Нової пошти</li>
        </ul>
      </div>
      <div class="product-tabs__panel" data-content="returns">
        <ul class="custom-list">
          <li>Повернення та обмін товарів можливі протягом 14 днів після отримання. Обмін можливий на інший розмір, колір або товар. Якщо ви отримали товар неналежної якості, витрати на повернення покриває відправник. При анулюванні замовлення на суму понад 2000 грн з повернення буде віднято вартість доставки.</li>
          <li>Повернення товарів належної якості можливе без пояснення причин, якщо товар не був у вживанні і має товарний вигляд (без подряпин, заломів, потертостей, плям). Кошти за повернене замовлення будуть повернені після отримання посилки. Умови повернення коштів обговорюються з вами за зручним способом.</li>
        </ul>
      </div>
      <div class="product-tabs__panel" data-content="payment">
        <ul class="custom-list">
          <li>Післяплати (накладний платіж) при отриманні на Новій пошті після мінімальної передоплати в 100грн. Будь ласка, враховуйте комісію Нової пошти за переказ коштів при такій формі оплати.</li>
          <li>Повна оплата на розрахунковий рахунок ФОП (IBAN) відразу після оформлення замовлення, реквізити скидаємо у Viber чи Telegram за вказаним вами номером телефону.</li>
        </ul>
      </div>
    </div>
    <div class="product-tabs__accordion">
      <div class="product-tabs__accordion-item" data-content="description">
        <div class="product-tabs__accordion-title">
          Опис
          <span class="accordion-icon"></span>
        </div>
        <div class="product-tabs__accordion-content">
          <ul class="custom-list">
            <li>Сумка "Лайза" від Hush Ladies – це елегантний аксесуар із високоякісної еко-шкіри, який доповнить будь-який образ. Завдяки знімному довгому ремінцю її можна носити через плече або в руках. Лаконічний дизайн та продумані деталі роблять сумку універсальною як для буднів, так і для особливих подій. "Лайза" – ваш стильний і зручний супутник на кожен день.</li>
          </ul>
        </div>
      </div>
      <div class="product-tabs__accordion-item" data-content="sizes">
        <div class="product-tabs__accordion-title">
          Розміри
          <span class="accordion-icon"></span>
        </div>
        <div class="product-tabs__accordion-content">
          <ul class="custom-list">
            <li>Розмір 11,5/9/1,5 см</li>
          </ul>
        </div>
      </div>
      <div class="product-tabs__accordion-item" data-content="delivery">
        <div class="product-tabs__accordion-title">
          Доставка
          <span class="accordion-icon"></span>
        </div>
        <div class="product-tabs__accordion-content">
          <ul class="custom-list">
            <li>У зв’язку з військовим станом відправляємо посилки протягом 1-3 днів 
              Доставка на відділення та поштомат Нової пошти</li>
          </ul>
        </div>
      </div>
      <div class="product-tabs__accordion-item" data-content="returns">
        <div class="product-tabs__accordion-title">
          Повернення
          <span class="accordion-icon"></span>
        </div>
        <div class="product-tabs__accordion-content">
          <ul class="custom-list">
            <li>Повернення та обмін товарів можливі протягом 14 днів після отримання. Обмін можливий на інший розмір, колір або товар. Якщо ви отримали товар неналежної якості, витрати на повернення покриває відправник. При анулюванні замовлення на суму понад 2000 грн з повернення буде віднято вартість доставки.</li>
            <li>Повернення товарів належної якості можливе без пояснення причин, якщо товар не був у вживанні і має товарний вигляд (без подряпин, заломів, потертостей, плям). Кошти за повернене замовлення будуть повернені після отримання посилки. Умови повернення коштів обговорюються з вами за зручним способом.</li>
          </ul>
        </div>
      </div>
      <div class="product-tabs__accordion-item" data-content="payment">
        <div class="product-tabs__accordion-title">
          Оплата
          <span class="accordion-icon"></span>
        </div>
        <div class="product-tabs__accordion-content">
          <ul class="custom-list">
            <li>Післяплати (накладний платіж) при отриманні на Новій пошті після мінімальної передоплати в 100грн. Будь ласка, враховуйте комісію Нової пошти за переказ коштів при такій формі оплати.</li>
            <li>Повна оплата на розрахунковий рахунок ФОП (IBAN) відразу після оформлення замовлення, реквізити скидаємо у Viber чи Telegram за вказаним вами номером телефону.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
