<section class="errorbox">
    <div class="errorbox__wrapper">
        <div class="errorbox__number">
            <p class="errorbox__number-digit">4</p>
            <img class="errorbox__number-image" src="./img/svg/error_image.svg" alt="404 error">
            <p class="errorbox__number-digit">4</p>
        </div>
        <div class="errorbox__text">
            <h2 class="errorbox__text-title">
                Упс....
            </h2>
            <p class="errorbox__text-subtitle">
                Схоже, що цієї сторінки не існує. Як щодо того, щоб ознайомитися з нашою новою колекцією? Можливо, там ви знайдете щось особливе!
            </p>
        </div>
    </div>
</section>