<section class="error-products">
    <div class="error-products__wrapper">
        <div class="error-products__list">
            <a href="/product-page-link" class="error-products__list-item">
              <div class="error-products__list-item-image">
                <img src="./img/error_product_handbag.webp" alt="Асиметрична сумочка">
              </div>
              <div class="error-products__list-item-text">
                <h3 class="error-products__list-item-title">Асиметрична сумочка</h3>
                <p class="error-products__list-item-price">900,00 UAH</p>
              </div>
            </a>
            <a href="/product-page-link" class="error-products__list-item">
              <div class="error-products__list-item-image">
                <img src="./img/error_product_handbag.webp" alt="Багет з широкою ручкою">
              </div>
              <div class="error-products__list-item-text">
                <h3 class="error-products__list-item-title">Багет з широкою ручкою</h3>
                <p class="error-products__list-item-price">890,00 UAH</p>
              </div>
            </a>
            <a href="/product-page-link" class="error-products__list-item">
              <div class="error-products__list-item-image">
                <img src="./img/error_product_handbag.webp" alt="Багет L">
              </div>
              <div class="error-products__list-item-text">
                <h3 class="error-products__list-item-title">Багет L</h3>
                <p class="error-products__list-item-price">920,00 UAH</p>
              </div>
            </a>
          </div>
        <div class="error-products__buttons">
           <a href="index.html" class="button btn-transparent">Головна</a>
           <a href="shop.html" class="button">Каталог</a>
        </div>
    </div>
</section>