<section class="empty">
    <div class="container">
        <div class="empty__wrapper">
            <h3 class="empty__title">
                Кошик
            </h3>
            <div class="empty__box">
                <img src="./img/empty_image.webp" alt="empty screen">
                <h3>
                    Кошик пустий
                </h3>
                <p>
                    У твоєму кошику поки що немає товарів. Дізнайся про всі наші товари і пропозиції
                </p>
                <a class="button empty__button" href="#">Каталог</a>
            </div>
        

        </div>
    </div>
</section>