<section class="blogpost">
    <div class="container">
        <div class="blogpost__wrapper">
            <a href="blogPageTheme.html" class="blogpost__item">
                <img class="blogpost__item-image" src="./img/blog_post_handbag.webp" alt="">
                <h3 class="blogpost__item-title">Як підібрати сумку за типом фігури?</h3>
                <p class="blogpost__item-subtitle">Hush  | Грудень 2023</p>
            </a>
            <a href="blogPageTheme.html" class="blogpost__item">
                <img class="blogpost__item-image" src="./img/blog_post_handbag.webp" alt="">
                <h3 class="blogpost__item-title">Що таке Екошкіра?</h3>
                <p class="blogpost__item-subtitle">Hush  | Грудень 2023</p>
            </a>
            <a href="blogPageTheme.html" class="blogpost__item">
                <img class="blogpost__item-image" src="./img/blog_post_handbag.webp" alt="">
                <h3 class="blogpost__item-title">Сумка чи рюкзак?</h3>
                <p class="blogpost__item-subtitle">Hush  | Грудень 2023</p>
            </a>
            <a href="blogPageTheme.html" class="blogpost__item">
                <img class="blogpost__item-image" src="./img/blog_post_handbag.webp" alt="">
                <h3 class="blogpost__item-title">Топ 3 сумки, які мають бути у вашому гардеробі</h3>
                <p class="blogpost__item-subtitle">Hush  | Грудень 2023</p>
            </a>
        </div>
    </div>
</section>