<section class="faq">
    <div class="container">
        <div class="faq__wrapper">
            <h1 class="faq__title">FAQ</h1>
            <div class="faq__item">
                <button class="faq__question">
                    1. Які види товарів ви пропонуєте?
                    <span class="faq__icon"><img src="./img/svg/arrow_right.svg" alt=""></span>
                </button>
                <div class="faq__answer">
                    У нашому магазині ви знайдете стильні сумки, рюкзаки, окуляри, шапки, шарфи та одяг для жінок. Ми
                    постійно
                    оновлюємо асортимент, щоб ви могли знайти щось новеньке.
                </div>
            </div>
            <div class="faq__item">
                <button class="faq__question">
                    2. Де знаходиться ваш магазин у Києві?
                    <span class="faq__icon"><img src="./img/svg/arrow_right.svg" alt=""></span>
                </button>
                <div class="faq__answer">
                    м. Київ, вул. Практична 1, ЖК Parkland.
                </div>
            </div>
            <div class="faq__item">
                <button class="faq__question">
                    3. Чи здійснюєте ви доставку по Україні?
                    <span class="faq__icon"><img src="./img/svg/arrow_right.svg" alt=""></span>
                </button>
                <div class="faq__answer">
                    Так, ми пропонуємо доставку по всій Україні. Ви можете обрати зручний для вас спосіб доставки при
                    оформленні
                    замовлення.
                </div>
            </div>
            <div class="faq__item">
                <button class="faq__question">
                    4. Як я можу оформити замовлення?
                    <span class="faq__icon"><img src="./img/svg/arrow_right.svg" alt=""></span>
                </button>
                <div class="faq__answer">
                    Ви можете оформити замовлення на нашому сайті, вибравши товар, що вас цікавить, і додавши його до
                    кошика. Потім слід заповнити форму доставки та оплатити замовлення.
                </div>
            </div>
            <div class="faq__item">
                <button class="faq__question">
                    5. Які способи оплати ви приймаєте?
                    <span class="faq__icon"><img src="./img/svg/arrow_right.svg" alt=""></span>
                </button>
                <div class="faq__answer">
                    Ми приймаємо різні способи оплати:
                    <ul>
                        <li>Онлайн оплати (Apple Pay, Google Pay, Platy на mono)</li>
                        <li>Оплата готівкою на новій пошті</li>
                        <li>Оплата на розрахунковий рахунок (тільки для ФОП та ТОВ)</li>
                    </ul>
                </div>
            </div>
            <div class="faq__item">
                <button class="faq__question">
                    6. Яка політика повернення товарів?
                    <span class="faq__icon"><img src="./img/svg/arrow_right.svg" alt=""></span>
                </button>
                <div class="faq__answer">
                    Ми приймаємо повернення протягом 14 днів з моменту отримання товару, за умови, що він не був
                    використаний та зберігає свій первісний вигляд. Для повернення зв'яжіться з нашою службою підтримки.
                </div>
            </div>
            <div class="faq__item">
                <button class="faq__question">
                    7. Чи можу я отримати консультацію щодо вибору товару?
                    <span class="faq__icon"><img src="./img/svg/arrow_right.svg" alt=""></span>
                </button>
                <div class="faq__answer">
                    Звичайно! Ви можете звернутися до нас через сайт, соціальні мережі або телефоном. Наші менеджери з
                    радістю допоможуть вам вибрати найкращий товар.
                </div>
            </div>
        </div>
    </div>
</section>