<section class="benefits">
    <div class="container">
        <div class="benefits__wrapper">
            <div class="benefit-item">
                <img class="benefit-item__icon" src="./img/svg/quality.svg" alt="">
                <div class="benefit-item__info">
                    <h1 class="benefit-item__title">Якість</h1>
                    <p class="benefit-item__text">Ми гарантуємо якість кожної речі, так як самі перевіряєм все на брак</p>
                </div>
            </div>
            <div class="benefit-item">
                <img class="benefit-item__icon" src="./img/svg/shop.svg" alt="">
                <div class="benefit-item__info">
                    <h1 class="benefit-item__title">Шоу Рум</h1>
                    <p class="benefit-item__text">Ви можете прийти до нас, у нас є шоу рум в Києві і переконатись, що обрали класну річ.</p>
                </div>
            </div>
            <div class="benefit-item">
                <img class="benefit-item__icon" src="./img/svg/truck.svg" alt="">
                <div class="benefit-item__info">
                    <h1 class="benefit-item__title">Доставка</h1>
                    <p class="benefit-item__text">Щоб отримати <span>безкоштовну доставку</span> , сума товарів має бути більше 2000 грн</p>
                </div>
            </div>
            <div class="benefit-item">
                <img class="benefit-item__icon" src="./img/svg/needle.svg" alt="">
                <div class="benefit-item__info">
                    <h1 class="benefit-item__title">Виробництво</h1>
                    <p class="benefit-item__text">Частина товару, у нас власного пошиву, що робить товар ще якіснішим і доступнішим, тому що ми контролюємо процес.</p>
                </div>
            </div>
        </div>
    </div>
</section>