<section class="categories"> 
    <div class="container">
        <div class="categories__wrapper">
            <div class="categories__box">
                <a href="shop.html" class="category-item">
                    <img src="./img/wallets.webp" class="category-item__image" alt="">
                    <div class="category-item__darkness"></div>
                    <p class="category-item__title">
                        Гаманці
                    </p>
                    <img src="./img/category_wallet_mob.webp" class="category-item__image-mob" alt="">
                </a>
                <a href="shop.html" class="category-item tall">
                    <img src="./img/all_categories.webp" class="category-item__image" alt="">
                    <div class="category-item__darkness"></div>
                    <p class="category-item__title">
                        Усі категорії
                    </p>
                    <img src="./img/category_all_mob.webp" class="category-item__image-mob" alt="">
                </a>
                <a href="shop.html" class="category-item">
                    <img src="./img/wear.webp" class="category-item__image" alt="">
                    <div class="category-item__darkness"></div>
                    <p class="category-item__title">
                        Одяг
                    </p>
                    <img src="./img/category_wear_mob.webp" class="category-item__image-mob" alt="">
                </a>
                <a href="shop.html" class="category-item">
                    <img src="./img/glasses.webp" class="category-item__image" alt="">
                    <div class="category-item__darkness"></div>
                    <p class="category-item__title">
                        Окуляри
                    </p>
                    <img src="./img/category_glasses_mob.webp" class="category-item__image-mob" alt="">
                </a>
                <a href="shop.html" class="category-item">
                    <img src="./img/hap.webp" class="category-item__image" alt="">
                    <div class="category-item__darkness"></div>
                    <p class="category-item__title">
                        Шарфи та шляпи
                    </p>
                    <img src="./img/category_hat_mob.webp" class="category-item__image-mob" alt="">
                </a>
                <a href="shop.html" class="category-item">
                    <img src="./img/bag.webp" class="category-item__image" alt="">
                    <div class="category-item__darkness"></div>
                    <p class="category-item__title">
                        Рюкзаки
                    </p>
                    <img src="./img/category_bag_mob.webp" class="category-item__image-mob" alt="">
                </a>
                <a href="shop.html" class="category-item">
                    <img src="./img/tshirt.webp" class="category-item__image" alt="">
                    <div class="category-item__darkness"></div>
                    <p class="category-item__title">
                        Знижки
                    </p>
                    <img src="./img/category_sale_mob.webp" class="category-item__image-mob" alt="">
                </a>
                <a href="shop.html" class="category-item">
                    <img src="./img/handbag.webp" class="category-item__image" alt="">
                    <div class="category-item__darkness"></div>
                    <p class="category-item__title">
                        Сумки
                    </p>
                    <img src="./img/category_handbag_mob.webp" class="category-item__image-mob" alt="">
                </a>
            </div>
        </div>
    </div>
</section>