<section class="instagram-section">
    <div class="container">
        <div class="instagram-section__wrapper">
            <div class="instagram-section__desktop">
                <div class="instagram-section__desktop-text">
                    <h2 class="instagram-section__title">
                        Наш Instagram
                    </h2>
                    <p class="instagram-section__description">
                        Діліться своїми враженнями, адже ми надихаємося вами! тегніть нас, щоб скористатися вигідною пропозицією!
                        <span>
                            При відмітці нас в Instagram ви отримаєте 10% знижки 
                        </span>
                    </p>
                    <a href="#" class="instagram-section__btn-size button">
                        Наш інстаграм
                    </a>
                </div>
                <div class="instagram-section__image">
                    <img src="./img/iphone_border.webp" alt="">
                    <img src="./img/hush_inst.webp" alt="">
                </div>
            </div>
            <div class="instagram-section__mobile">
                <h2 class="instagram-section__mob-title">
                    ВІДМІЧАЙ НАС В Instagram ТА ОТРИМУЙ <span>10% ЗНИЖКИ</span> 
                </h2>
                <div class="instagram-section__mob-image">
                    <img src="./img/collection_mob-girl-first.webp" alt="">
                    <img src="./img/collection_mob-girl-second.webp" alt="">
                    <img src="./img/collection_mob-girl-third.webp" alt="">
                </div>
                <a href="#" class="instagram-section__btn-size button">
                    Перейти
                </a>
            </div>
        </div>
    </div>
</section>