<section class="collection-section">
    <div class="container">
        <div class="collection-section__wrapper collection-section__image">
            <div class="collection-section__box">
                <p class="collection-section__description">
                    2024
                </p>
                <h2 class="collection-section__title">
                    New collection
                </h2>
                <a href="" class="button collection-section__button">
                    Переглянути новинки
                </a>
            </div>
        </div>
    </div>
</section>