<section class="hero">
    <div class="container">
        <div class="hero__wrapper">

            <!-- Слайди -->
            <div class="hero__slides">
                <div class="hero__slide hero__slide--1">
                    <div class="hero__content">
                        <p class="hero__description">Новий тренд 2024</p>
                        <h1 class="hero__title">Women Collection</h1>
                        <a href="shop.html" class="button hero__button">Замовити</a>
                    </div>
                    <img src="./img/home_slider.webp" alt="Зображення 1" class="hero__image">
                </div>
                <div class="hero__slide hero__slide--2">
                    <div class="hero__content">
                        <p class="hero__description">Новий тренд 2024</p>
                        <h1 class="hero__title">Men Collection</h1>
                        <button class="button hero__button">Замовити</button>
                    </div>
                    <img src="./img/home_slider.webp" alt="Зображення 2" class="hero__image">
                </div>
                <div class="hero__slide hero__slide--3">
                    <div class="hero__content">
                        <p class="hero__description">Новий тренд 2024</p>
                        <h1 class="hero__title">Kids Collection</h1>
                        <button class="button hero__button">Замовити</button>
                    </div>
                    <img src="./img/home_slider.webp" alt="Зображення 3" class="hero__image">
                </div>
            </div>

            <!-- Кнопки навігації -->
            <div class="hero__nav">
                <button class="hero__navButton active" data-slide="0" aria-label="Слайд 1"></button>
                <button class="hero__navButton" data-slide="1" aria-label="Слайд 2"></button>
                <button class="hero__navButton" data-slide="2" aria-label="Слайд 3"></button>
            </div>

        </div>
    </div>
</section>