<section class="blog-recomend">
    <div class="container">
      <div class="blog-recomend__wrapper">
        <h1 class="blog-recomend__title">Рекомендовані</h1>
        <div class="blog-recomend__slider">
          <div class="blog-recomend__slides">
            <a href="blogPageTheme.html" class="blog-recomend__item">
              <img class="blog-recomend__item-image" src="./img/blog_post_handbag.webp" alt="">
              <h3 class="blog-recomend__item-title">Як підібрати сумку за типом фігури?</h3>
              <p class="blog-recomend__item-subtitle">Hush  | Грудень 2023</p>
            </a>
            <a href="blogPageTheme.html" class="blog-recomend__item">
              <img class="blog-recomend__item-image" src="./img/blog_post_handbag.webp" alt="">
              <h3 class="blog-recomend__item-title">Що таке Екошкіра?</h3>
              <p class="blog-recomend__item-subtitle">Hush  | Грудень 2023</p>
            </a>
            <!-- Додайте більше слайдів за потреби -->
          </div>
          <!-- Пагінація -->
          <div class="blog-recomend__pagination"></div>
        </div>
      </div>
    </div>
  </section>
  