<section class="bloginfo">
    <div class="container">
        <div class="bloginfo__wrapper">
            <h2 class="bloginfo__title">Як підібрати сумку за типом фігури?</h2>
            <div class="bloginfo__image">
                <img src="./img/blog_info_first.webp" alt="">
            </div>
            <p class="bloginfo__text">
                Чи бувало у вас таке, що на полиці магазину сумка просто неймовірна, та коли ви приміряли — щось не те? Уся причина у взаємодії особливостей ваших форм та форм сумки. Вважаємо, що усі фігури — красиві, варто лише правильно їх підкреслити! Тому ми підготували для вас дуже корисні поради щодо вибору сумок.
            </p>
            <div class="bloginfo__image">
                <img src="./img/blog_info_second.webp" alt="">
            </div>
            <p class="bloginfo__text">
                Якщо ви струнка та висока — ідеально доповнить образ широка сумка з ручками середньої довжини. Якщо ви невисока — обирайте вузьку сумку, яка трішки “витягне” силует, зробить його гармонійнішим та витонченішим. Якщо у вас розкішне декольте та виражені плечі — обирайте сумки з довгими витягнутими ручками, щоб збалансувати фігуру. Якщо у вас яскраво виражені бедра — віддавайте перевагу малим сумкам із короткими ручками, ідеально, щоб сумка була одразу під рукою.      
            </p>
            <div class="bloginfo__image bloginfo__image-position">
                <img src="./img/blog_info_third.webp" alt="">
            </div>
            <p class="bloginfo__text">
                Якщо у вас тонка талія — обирайте форму сумки просто душею, бо вам личитиме усе, однак радимо звернути увагу на ручки — щоб були середньої довжини. Якщо ваші форми plus size — радимо середні та великі за розміром сумки, а от маленьких радимо уникати, вони можуть викривити силует. Якщо у вас не дуже довгі ноги — обирайте класичну сумку середнього розміру. 
            </p>
            <div class="bloginfo__image bloginfo__image-position">
                <img src="./img/blog_info_forth.webp" alt="">
            </div>
            <p class="bloginfo__text">
                Якщо ж ноги довгі та стрункі — будь-яка сумка буде вдалим вибором і підкреслить цю перевагу. Рекомендуємо поділитись цією статею із подругою та якомога швидше разом розпочати сумко-шопінг! Наш сайт радо прийме ваші замовлення в будь-яку мить.    
            </p>
        </div>
    </div>
</section>