.blogpost{
    &__wrapper{
        padding: 100px 92px;
        display: flex;
        gap: 32px 16px;
        flex-wrap: wrap;
    }
    &__item{
        flex: 1 1 calc(50% - 16px);
        display: flex;
        flex-direction: column;
        &-image{
            border-radius: 4px;
            overflow: hidden;
            width: 100%;
        }
        &-title{
            margin-top: 16px;
            font-size: 32px;
            font-weight: 500;
            line-height: 120%;
            color: $textColor;
        }
        &-subtitle{
            margin-top: 8px;
            font-size: 16px;
            line-height: 30px;
            color: $lightGrayText;
        }
    }
    @media screen and (max-width:900px){
        &__wrapper{
            padding:64px 20px;
        }
    }
    @media screen and (max-width:690px){
        &__wrapper{
            gap: 24px 16px;
        }
        &__item{
            &-title{
                font-size: 20px;
            }
            &-subtitle{
                font-size: 14px;
            }
        }
    }
    @media screen and (max-width:690px){
        &__item{
            flex: 1 100%;
        }
    }

}