<div class="cart cart-mob">
    <div class="cart__order-summary">
        <div class="cart__order-summary-item">
            <span>Вартість замовлення:</span>
            <span id="order-cost">1000,00 UAH</span>
        </div>
        <div class="cart__order-summary-item">
            <span>Доставка:</span>
            <span>за тарифами Нової Пошти</span>
        </div>
        <div class="cart__order-summary-item" style="color:#c00;">
            <span>Знижка:</span>
            <span id="discount">100,00 UAH</span>
        </div>
        <div class="cart__order-summary-total">
            Всього: <span id="total">900,00 UAH</span>
        </div>
    </div>

    <button class="button cart__order-button">Оформити замовлення</button>
</div>