<section class="sale-goods">
    <div class="container">
        <div class="sale-goods__wrapper">
            <h1 class="sale-goods__title">
                Cумки
            </h1>
            <div class="sale-goods__box">
                <a href="saleProducts.html" class="sale-goods__box-item">
                    <img src="./img/sale_product.webp" alt="bag">
                    <p class="sale-goods__box-item-name">
                        Сумки
                    </p>
                    <div class="sale-goods__box-item-colors">
                        <div class="sale-goods__box-item-color"></div>
                        <div class="sale-goods__box-item-color"></div>
                        <div class="sale-goods__box-item-color"></div>
                    </div>
                    <h3 class="sale-goods__box-item-price">
                        690,00 UAN
                    </h3>
                    <h4 class="sale-goods__box-item-discount">
                        750,00 UAN
                    </h4>
                </a>
                <a href="saleProducts.html" class="sale-goods__box-item">
                    <img src="./img/sale_product.webp" alt="bag">
                    <p class="sale-goods__box-item-name">
                        Сумки
                    </p>
                    <div class="sale-goods__box-item-colors">
                        <div class="sale-goods__box-item-color"></div>
                        <div class="sale-goods__box-item-color"></div>
                        <div class="sale-goods__box-item-color"></div>
                    </div>
                    <h3 class="sale-goods__box-item-price">
                        690,00 UAN
                    </h3>
                    <h4 class="sale-goods__box-item-discount">
                        750,00 UAN
                    </h4>
                </a>
                <a href="saleProducts.html" class="sale-goods__box-item">
                    <img src="./img/sale_product.webp" alt="bag">
                    <p class="sale-goods__box-item-name">
                        Сумки
                    </p>
                    <div class="sale-goods__box-item-colors">
                        <div class="sale-goods__box-item-color"></div>
                        <div class="sale-goods__box-item-color"></div>
                        <div class="sale-goods__box-item-color"></div>
                    </div>
                    <h3 class="sale-goods__box-item-price">
                        690,00 UAN
                    </h3>
                    <h4 class="sale-goods__box-item-discount">
                        750,00 UAN
                    </h4>
                </a>
                <a href="saleProducts.html" class="sale-goods__box-item">
                    <img src="./img/sale_product.webp" alt="bag">
                    <p class="sale-goods__box-item-name">
                        Сумки
                    </p>
                    <div class="sale-goods__box-item-colors">
                        <div class="sale-goods__box-item-color"></div>
                        <div class="sale-goods__box-item-color"></div>
                        <div class="sale-goods__box-item-color"></div>
                    </div>
                    <h3 class="sale-goods__box-item-price">
                        690,00 UAN
                    </h3>
                    <h4 class="sale-goods__box-item-discount">
                        750,00 UAN
                    </h4>
                </a>
                <a href="saleProducts.html" class="sale-goods__box-item">
                    <img src="./img/sale_product.webp" alt="bag">
                    <p class="sale-goods__box-item-name">
                        Сумки
                    </p>
                    <div class="sale-goods__box-item-colors">
                        <div class="sale-goods__box-item-color"></div>
                        <div class="sale-goods__box-item-color"></div>
                        <div class="sale-goods__box-item-color"></div>
                    </div>
                    <h3 class="sale-goods__box-item-price">
                        690,00 UAN
                    </h3>
                    <h4 class="sale-goods__box-item-discount">
                        750,00 UAN
                    </h4>
                </a>
                <a href="saleProducts.html" class="sale-goods__box-item">
                    <img src="./img/sale_product.webp" alt="bag">
                    <p class="sale-goods__box-item-name">
                        Сумки
                    </p>
                    <div class="sale-goods__box-item-colors">
                        <div class="sale-goods__box-item-color"></div>
                        <div class="sale-goods__box-item-color"></div>
                        <div class="sale-goods__box-item-color"></div>
                    </div>
                    <h3 class="sale-goods__box-item-price">
                        690,00 UAN
                    </h3>
                    <h4 class="sale-goods__box-item-discount">
                        750,00 UAN
                    </h4>
                </a>
            </div>
        </div>
    </div>
</section>