<section class="privacy-policy">
    <div class="container">
        <div class="privacy-policy__wrapper">
            <h1 class="privacy-policy__title">
                Політика конфіденційності та Умови роботи Hush ladies
            </h1>
            <p class="privacy-policy__mainArticle">
                Hush Ladies прагне забезпечити захист ваших персональних даних і надання якісного обслуговування. Нижче
                представлена політика конфіденційності, а також умови роботи з нашим інтернет-магазином.
            </p>
            <h4 class="privacy-policy__punct">
                1. Ціна
            </h4>
            <p class="privacy-policy__article">
                Hush Ladies прагне забезпечити захист ваших персональних даних і надання якісного обслуговування. Нижче
                представлена політика конфіденційності, а також умови роботи з нашим інтернет-магазином.
            </p>
            <h4 class="privacy-policy__punct">
                2. Умови оплати
            </h4>
            <ul class="privacy-policy__article">
                Оплата здійснюється за допомогою:
                <li>
                    Банківських карт (Visa, MasterCard);
                </li>
                <li>
                    Онлайн-платежів через платіжні системи;
                </li>
                <li>
                    Оплата післяплатою (при отриманні товару).
                </li>
                Усі платежі обробляються через захищені платіжні шлюзи. Hush Ladies не зберігає дані ваших банківських
                карток.
            </ul>
            <h4 class="privacy-policy__punct">
                3. Доставка
            </h4>
            <ul class="privacy-policy__article">
                Ми пропонуємо кілька варіантів доставки:
                <li>
                    Кур'єрська доставка по місту;
                </li>
                <li>
                    Доставка поштовими службами по країні;
                </li>
                <li>
                    Самовивіз (якщо доступно).
                </li>
                Вартість доставки залежить від обраного способу та місця доставки і буде вказана при оформленні
                замовлення. Строки доставки можуть залежати від регіону.
            </ul>
            <h4 class="privacy-policy__punct">
                4. Обмін та повернення товару
            </h4>
            <ul class="privacy-policy__article">
                Обмін або повернення товару можливе протягом 14 днів з моменту отримання, за умови збереження товарного
                вигляду та упаковки. Товар, який має сліди використання, не підлягає поверненню чи обміну. Для обміну
                або повернення звертайтеся до нашої клієнтської підтримки.
            </ul>
            <h4 class="privacy-policy__punct">
                5. Порядок оформлення замовлення
            </h4>
            <ul class="privacy-policy__article">
                <p class="privacy-policy__article-spaceBottom">Щоб оформити замовлення в Hush Ladies, виконайте наступні
                    кроки:</p>
                <li>
                    Оберіть товар на сайті та додайте його до кошика.
                </li>
                <li>
                    Перейдіть до кошика і натисніть кнопку "Оформити замовлення".
                </li>
                <li>
                    Заповніть необхідні дані для замовлення:
                </li>
                <span class="privacy-policy__article-space">Ім'я та прізвище;</span>
                <span class="privacy-policy__article-space">Адреса доставки;</span>
                <span class="privacy-policy__article-space">Номер телефону та електронна пошта.</span>
                <li>
                    Оберіть спосіб доставки та перевірте вартість доставки, яка автоматично розрахується відповідно до
                    вашого місцезнаходження.
                </li>
                <li>
                    Після перевірки замовлення та заповнення всієї необхідної інформації ви будете перенаправлені на
                    сторінку оплати.
                </li>
                <li>
                    Оберіть зручний спосіб оплати та завершіть транзакцію.
                </li>
                <p class="privacy-policy__article-spaceTop">Після успішної оплати ви отримаєте підтвердження замовлення
                    на вказану електронну пошту з деталями вашого замовлення та інформацією про доставку.</p>
            </ul>
            <h4 class="privacy-policy__punct">
                6. Гарантійні умови
            </h4>
            <p class="privacy-policy__article">
                На всі товари, придбані в Hush Ladies, поширюється гарантія від виробника. Термін гарантії зазначений у
                характеристиках товару. У разі виявлення дефекту протягом гарантійного періоду ми організуємо
                безкоштовну заміну або ремонт товару.
            </p>
            <h4 class="privacy-policy__punct">
                7. Повернення товару та компенсація вартості
            </h4>
            <p class="privacy-policy__article">
                Якщо товар не підійшов або має дефекти, ви можете повернути його протягом 14 днів. Після отримання та
                перевірки товару на відповідність умовам повернення, ми здійснимо компенсацію вартості товару на ваш
                рахунок або банківську картку протягом 7 робочих днів.
            </p>
            <h4 class="privacy-policy__punct">
                8. Клієнтська підтримка
            </h4>
            <ul class="privacy-policy__article">
                Наша служба підтримки працює для вас. Ви можете звернутися до нас з будь-якими питаннями щодо
                замовлення, доставки, повернення товарів чи інших питань за телефоном або електронною поштою:

                <span class="privacy-policy__article-nospace">Email</span>
                <span class="privacy-policy__article-nospace">Телефон</span>
            </ul>
            <h4 class="privacy-policy__punct">
                9. Політика конфіденційності сайту
            </h4>
            <p class="privacy-policy__article">
                Ми збираємо лише необхідні дані для обробки ваших замовлень та покращення наших послуг. Детальну інформацію про те, які дані ми збираємо і як їх використовуємо, можна знайти в нашій Політиці конфіденційності.
            </p>
            <h4 class="privacy-policy__punct">
                10. Заключні положення
            </h4>
            <p class="privacy-policy__article">
                Усі зміни в політиці конфіденційності або умовах роботи з нашим сайтом будуть публікуватися на цій сторінці. Використовуючи наш сайт, ви погоджуєтеся з умовами, викладеними вище. Ми залишаємо за собою право змінювати ці умови без попередження.
            </p>
        </div>
    </div>
</section>