<section class="sale-top">
    <div class="container">

        <div class="sale-top__wrapper">
            <h2 class="sale-top__title">Топ продаж</h2>
            <div class="sale-top__grid">
                <div class="sales-top-item">
                    <img src="./img/burger_bag.webp" alt="Сумка 'Келлі'" class="sales-top-item__image" />
                    <h3 class="sales-top-item__title">Сумка "Келлі"</h3>
                    <p class="sales-top-item__price">950,00 UAH</p>
                </div>
                <div class="sales-top-item">
                    <img src="./img/burger_bag.webp" alt="Асиметрична сумка" class="sales-top-item__image" />
                    <h3 class="sales-top-item__title">Асиметрична сумка</h3>
                    <p class="sales-top-item__price">900,00 UAH</p>
                </div>
                <div class="sales-top-item">
                    <img src="./img/burger_bag.webp" alt="Сумка 'Келлі'" class="sales-top-item__image" />
                    <h3 class="sales-top-item__title">Сумка "Келлі"</h3>
                    <p class="sales-top-item__price">950,00 UAH</p>
                </div>
            </div>
        </div>
    </div>
</section>