<section class="payment-exchange">
    <div class="container">
        <div class="payment-exchange__wrapper">
            <div class="payment-exchange__box">
                <h1 class="payment-exchange__title">
                    Повернення та обмін
                </h1>
                <p class="payment-exchange__article">
                    Повернення та обмін товарів можливе протягом 14 днів після отримання. Обмін можливий як на інший розмір та колір, так і на будь-яку іншу річ. 
                </p>
                <p class="payment-exchange__article">
                    У разі отримання товару неналежної якості, або не того товару, який ви замовляли, обмін та повернення оплачується відправником.
                    Якщо сума вашого замовлення перевищила 2000грн і ви отримали безкоштовну доставку, то при анулюванні замовлення із суми повернення буде віднято вартість доставки вашого замовлення.
                </p>
                <p class="payment-exchange__article">
                    У разі повернення/обміну товарів належної якості (без дефекту) послуги доставки оплачує покупець. Ви можете повернути або обміняти товар належної якості без пояснення причин повернення
                    Товар не був у вживанні і не має слідів використання: подряпин, заломів, потертостей, плям тощо
                    <br>Товар зберігає товарний вигляд та свої споживчі властивості. Кошти за повернене замовлення будуть повернені після отримання нами посилки. Умови повернення коштів попередньо обговорюються за зручним для вас способом (телефонний дзвінок, переписка у месенджерах тощо)
                </p>
            </div>
        </div>
    </div>
</section>