<section class="payment-order">
    <div class="container">
        <div class="payment-order__wrapper">
            <h1 class="payment-order__title">
                Оформлення
            </h1>
            <p class="payment-order__thank">
                Дякуємо! Ваше замовлення було отримано 
                    <svg xmlns="http://www.w3.org/2000/svg" width="42" height="45" viewBox="0 0 42 45" fill="none">
                        <path d="M39.7697 20.2716C38.0128 11.8104 29.7691 12.0127 20.5012 22.3573C19.6109 15.6856 23.6248 1.54182 11.4118 1.83833C-7.58406 6.03164 5.92321 41.7638 8.29939 42.717C11.2696 43.9084 41.5359 38.2989 39.7697 20.2716Z" stroke="#F08679" stroke-width="2.74251" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
            </p>
            <div class="payment-order__info-numbers">
                <p class="payment-order__info-numbers-paragraph">
                    Номер замовлення:
                    <span>
                        2024
                    </span>
                </p>
                <p class="payment-order__info-numbers-paragraph">
                    Дата замовлення: 08.01.2024
                </p>
                <p class="payment-order__info-numbers-paragraph">
                    Номер замовлення:
                    <span>
                        940,00 UAH
                    </span>
                </p>
            </div>
            <div class="payment-order__payment">
                <p class="payment-order__payment-method">
                    Спосіб оплати: Оплата онлайн (Apple pay, google pay, Plata by mono)
                </p>
                <p class="payment-order__payment-method hide">
                    Спосіб оплати: Прямий банківський переказ (оплата за реквізитами)
                </p>
            </div>
            <div class="payment-order__details">
                <h1 class="payment-order__details-title">
                    Подробиці замовлення
                </h1>
                <div class="payment-order__details-box">
                    <div class="payment-order__details-box-article">
                        <p class="payment-order__details-box-title">
                            Товар
                        </p>
                        <p class="payment-order__details-box-info">
                            Новорічний бокс зі шкарпетками × 1
                        </p>
                    </div>  
                    <div class="payment-order__details-box-article">
                        <p class="payment-order__details-box-title">
                            Доставка
                        </p>
                        <p class="payment-order__details-box-info">
                            Нова Пошта, Дніпро, Відділення №14 (до 30 кг на одне місце): просп. Героїв, 33
                        </p>
                    </div>  
                    <div class="payment-order__details-box-article">
                        <p class="payment-order__details-box-title">
                            Спосіб оплати
                        </p>
                        <p class="payment-order__details-box-info">
                            Прямий банківський переказ (оплата за реквізитами)
                        </p>
                    </div>  
                    <div class="payment-order__details-box-article">
                        <p class="payment-order__details-box-title">
                            Всього:
                        </p>
                        <p class="payment-order__details-box-info">
                            390,00 UAH
                        </p>
                    </div>  
                </div>
            </div>
            <div class="payment-order__address">
                <h1 class="payment-order__address-title">
                    Адреса доставки
                </h1>
                <div class="payment-order__address-box">
                    <div class="payment-order__address-box-article">
                        <p class="payment-order__address-box-title">
                            Іванов Петро
                        </p>
                    </div>  
                    <div class="payment-order__address-box-article">
                        <p class="payment-order__address-box-title">
                            Відділення №14 (до 30 кг на одне місце): просп. Героїв, 33
                        </p>
                    </div>  
                    <div class="payment-order__address-box-article">
                        <p class="payment-order__address-box-title">
                            Одеса
                        </p>
                    </div>  
                    <div class="payment-order__address-box-article">
                        <p class="payment-order__address-box-title">
                            Одеський
                        </p>
                    </div>  
                </div>
            </div>
            <div class="payment-order__useraddress">
                <h1 class="payment-order__useraddress-title">
                    Платіжна адреса
                </h1>
                <div class="payment-order__useraddress-box">
                    <div class="payment-order__useraddress-box-article">
                        <p class="payment-order__useraddress-box-title">
                            Іванов Петро
                        </p>
                        <p class="payment-order__useraddress-box-title">
                            +38(052)565-58-55
                        </p>
                        <p class="payment-order__useraddress-box-title">
                            gfjfj44@gmail.com
                        </p>
                    </div>  
                </div>
            </div>
            <a href="index.html" class="payment-order__button button">
                Головна
            </a>
        </div>
    </div>
</section>