<section class="payment-delivery">
    <div class="container">
        <div class="payment-delivery__wrapper">
            <div class="payment-delivery__box">
                <h1 class="payment-delivery__title">
                    Доставка
                </h1>
                <p class="payment-delivery__article">
                    Самовивіз із шоуруму: • м. Київ, вул. Практична 1, ЖК «Parkland» (шоурум працює за плаваючим графіком, тому, будь ласка, завчасно уточнюйте час візиту).
                </p>
                <p class="payment-delivery__article">
                    Доставка Новою Поштою: • У зв’язку з військовим станом відправляємо посилки протягом 1-3 днів • Доставка на відділення та поштомат Нової пошти.
                </p>
                <h1 class="payment-delivery__title payment-delivery__title--space">
                    Оплата
                </h1>
                <p class="payment-delivery__article">
                    Післяплати (накладний платіж) при отриманні на Новій пошті після мінімальної передоплати в 100грн. Будь ласка, враховуйте комісію Нової пошти за переказ коштів при такій формі оплати.
                </p>
                <p class="payment-delivery__article">
                    Повна оплата на розрахунковий рахунок ФОП (IBAN) відразу після оформлення замовлення, реквізити скидаємо у Viber чи Telegram за вказаним вами номером телефону.
                </p>
            </div>
        </div>
    </div>
</section>