<section class="filters">
    <div class="container">
        <div class="filters__mob">
            <h3 class="filters__mob-title">
                Фільтри
            </h3>
            <button class="filters__mob-close" aria-label="Закрити фільтри">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M18 6L6 18" stroke="#1F1D1D" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M6 6L18 18" stroke="#1F1D1D" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </button>
        </div>


        <div class="filters__wrapper">
            <button class="filters__toggle" aria-expanded="false" aria-controls="filter-list">
                Товар
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 10" fill="none">
                    <path
                        d="M0.393677 0.422825C0.602751 0.120419 0.929917 0.0929273 1.16046 0.340351L1.22651 0.422825L6.30653 7.77022L11.3865 0.422825C11.5956 0.120419 11.9228 0.0929273 12.1533 0.340351L12.2194 0.422825C12.4284 0.725231 12.4475 1.19845 12.2764 1.53191L12.2194 1.62745L6.72294 9.57754C6.51387 9.87995 6.1867 9.90744 5.95616 9.66002L5.89011 9.57754L0.393677 1.62745C0.163696 1.2948 0.163696 0.755472 0.393677 0.422825Z"
                        fill="#121212" />
                </svg>
            </button>
            <div class="filters__search">
                <input type="text" class="filters__search-input" placeholder="Пошук товару" />
                <button class="filters__search-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <circle cx="11" cy="11" r="8"></circle>
                        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                    </svg>
                </button>
            </div>
            <div id="filter-list" class="woocommerce-widget-layered-nav filter-list-product" aria-hidden="true">
                <a href="#" class="filter-item-product">
                    <p class="filter-item-product__title">Сумки</p>
                    <span>(39)</span>
                </a>
                <a href="#" class="filter-item-product">
                    <p class="filter-item-product__title">Рюкзаки</p>
                    <span>(39)</span>
                </a>
                <a href="#" class="filter-item-product">
                    <p class="filter-item-product__title">Одяг</p>
                    <span>(39)</span>
                </a>
                <a href="#" class="filter-item-product">
                    <p class="filter-item-product__title">Окуляри</p>
                    <span>(39)</span>
                </a>
                <a href="#" class="filter-item-product">
                    <p class="filter-item-product__title">Гаманці</p>
                    <span>(39)</span>
                </a>
                <a href="#" class="filter-item-product">
                    <p class="filter-item-product__title">Шапки та шарфи</p>
                    <span>(39)</span>
                </a>
                <a href="#" class="filter-item-product">
                    <p class="filter-item-product__title">Акції</p>
                    <span>(39)</span>
                </a>
            </div>
            <div class="woocommerce-widget-layered-nav filter-size">
                <h4 class="filter-size__title">
                    Розмір
                </h4>
                <div class="filters__search">
                    <input type="text" class="filters__search-input" placeholder="Пошук товару" />
                    <button class="filters__search-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <circle cx="11" cy="11" r="8"></circle>
                            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                        </svg>
                    </button>
                </div>
                <div class="filter-size__list">
                    <div class="filter-size__item">
                        <label>
                            <input type="checkbox" class="filter-size__item-checkbox">
                            <div class="filter-size__item-option">
                                <p>XS</p>
                            </div>
                        </label>
                    </div>
                    <div class="filter-size__item">
                        <label>
                            <input type="checkbox" class="filter-size__item-checkbox">
                            <div class="filter-size__item-option">
                                <p>S</p>
                            </div>
                        </label>
                    </div>
                    <div class="filter-size__item">
                        <label>
                            <input type="checkbox" class="filter-size__item-checkbox">
                            <div class="filter-size__item-option">
                                <p>M</p>
                            </div>
                        </label>
                    </div>
                    <div class="filter-size__item">
                        <label>
                            <input type="checkbox" class="filter-size__item-checkbox">
                            <div class="filter-size__item-option">
                                <p>L</p>
                            </div>
                        </label>
                    </div>
                    <div class="filter-size__item">
                        <label>
                            <input type="checkbox" class="filter-size__item-checkbox">
                            <div class="filter-size__item-option">
                                <p>XL</p>
                            </div>
                        </label>
                    </div>
                    <div class="filter-size__item">
                        <label>
                            <input type="checkbox" class="filter-size__item-checkbox">
                            <div class="filter-size__item-option">
                                <p>XXL</p>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
            <div class="woocommerce-widget-price-filter filter-price">
                <h4 class="filter-price__title">
                    Ціна
                </h4>
                <div class="filter-price__range-box">
                    <div class="filter-price__active-line"></div>
                    <input type="range" min="0" max="5000" value="0" step="1" class="filter-price__range" id="priceMin">
                    <input type="range" min="0" max="5000" value="5000" step="1" class="filter-price__range"
                        id="priceMax">
                    <div class="filter-price__range-output" id="priceOutput">Ціна: 0 - 5000 UAH</div>
                </div>
                <a href="" class="button filter-price__button-size">Підтвердити</a>
            </div>
            <div class="woocommerce-widget-layered-nav filter-color">
                <h4 class="filter-color__title">
                    Колір
                </h4>
                <div class="filters__search">
                    <input type="text" class="filters__search-input" placeholder="Пошук товару" />
                    <button class="filters__search-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <circle cx="11" cy="11" r="8"></circle>
                            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                        </svg>
                    </button>
                </div>
                <div class="filter-color__color-box">
                    <div class="filter-color__color-item">
                        <div class="filter-color__color-item-circle"></div>
                        <p class="filter-color__color-item-name">Чорний</p>
                    </div>
                    <div class="filter-color__color-item">
                        <div class="filter-color__color-item-circle"></div>
                        <p class="filter-color__color-item-name">Білий</p>
                    </div>
                    <div class="filter-color__color-item">
                        <div class="filter-color__color-item-circle"></div>
                        <p class="filter-color__color-item-name">Сірий</p>
                    </div>
                    <div class="filter-color__color-item">
                        <div class="filter-color__color-item-circle"></div>
                        <p class="filter-color__color-item-name">Бежевий</p>
                    </div>
                    <div class="filter-color__color-item">
                        <div class="filter-color__color-item-circle"></div>
                        <p class="filter-color__color-item-name">Оливковий</p>
                    </div>
                    <div class="filter-color__color-item">
                        <div class="filter-color__color-item-circle"></div>
                        <p class="filter-color__color-item-name">Червоний</p>
                    </div>
                    <div class="filter-color__color-item">
                        <div class="filter-color__color-item-circle"></div>
                        <p class="filter-color__color-item-name">Синій</p>
                    </div>
                    <div class="filter-color__color-item">
                        <div class="filter-color__color-item-circle"></div>
                        <p class="filter-color__color-item-name">Фіолетовий</p>
                    </div>
                    <div class="filter-color__color-item">
                        <div class="filter-color__color-item-circle"></div>
                        <p class="filter-color__color-item-name">Коричневий</p>
                    </div>
                    <div class="filter-color__color-item ">
                        <div class="filter-color__color-item-circle"></div>
                        <p class="filter-color__color-item-name">Жовтий</p>
                    </div>
                    <div class="filter-color__color-item">
                        <div class="filter-color__color-item-circle">
                            <img src="./img/svg/filter_differentcollor.svg" alt="">
                        </div>
                        <p class="filter-color__color-item-name">Різнокольорові</p>
                    </div>

                    <button class="filter-color__expand-btn">
                        <img src="./img/svg/arrow_color.svg" alt="">
                        <span class="expand-btn-text"></span>
                    </button>
                </div>
                <div class="filter-mob-buttons">
                    <button class="button ">
                        Підтвердити
                    </button>
                    <button class="btn-transparent button">
                        Скинути
                    </button>
                </div>

            </div>
        </div>
    </div>
</section>