<section class="product-category">
    <div class="product-category__wrapper">
        <div class="product-category__box">
            <h3 class="section-title">
                Сумки
            </h3>
            <button class="product-category__mob-filter-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M4 21V14" stroke="#121212" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M4 10V3" stroke="#121212" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M12 21V12" stroke="#121212" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M12 8V3" stroke="#121212" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M20 21V16" stroke="#121212" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M20 12V3" stroke="#121212" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M1 14H7" stroke="#121212" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M9 8H15" stroke="#121212" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M17 16H23" stroke="#121212" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
                <p>Фільтри</p>
            </button>
        </div>
        <div class="woocommerce-ordering">
            <div class="woocommerce-ordering__sort">
                <label for="sort-dropdown" class="woocommerce-ordering__label">Сортувати</label>
                <select id="sort-dropdown" class="woocommerce-ordering__dropdown">
                    <option value="top-sales">Топ продажу</option>
                    <option value="low-to-high">Від дешевих до дорогих</option>
                    <option value="high-to-low">Від дорогих до дешевих</option>
                </select>
            </div>
            <div class="woocommerce-ordering__filter">
                <input type="checkbox" id="discount-checkbox" class="woocommerce-ordering__checkbox">
                <label for="discount-checkbox" class="woocommerce-ordering__checkbox-label">
                    Показувати товар по знижці
                </label>
            </div>
        </div>
        <div class="product-category__mobile-list">
            <div class="product-category__mobile-list-item">
                Переглянути все
            </div>
            <div class="product-category__mobile-list-item">
                Крос-боді
            </div>
            <div class="product-category__mobile-list-item">
                Шопери
            </div>
            <div class="product-category__mobile-list-item">
                Футболки
            </div>
        </div>
    </div>
</section>
