<section class="products">
    <div class="container">
        <div class="products__wrapper">
            <div class="product">
                <div class="product__image">
                    <img src="./img/product_2.webp" alt="product">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        class="product__image-like">
                        <path
                            d="M20.8401 4.60987C20.3294 4.09888 19.7229 3.69352 19.0555 3.41696C18.388 3.14039 17.6726 2.99805 16.9501 2.99805C16.2276 2.99805 15.5122 3.14039 14.8448 3.41696C14.1773 3.69352 13.5709 4.09888 13.0601 4.60987L12.0001 5.66987L10.9401 4.60987C9.90843 3.57818 8.50915 2.99858 7.05012 2.99858C5.59109 2.99858 4.19181 3.57818 3.16012 4.60987C2.12843 5.64156 1.54883 7.04084 1.54883 8.49987C1.54883 9.9589 2.12843 11.3582 3.16012 12.3899L4.22012 13.4499L12.0001 21.2299L19.7801 13.4499L20.8401 12.3899C21.3511 11.8791 21.7565 11.2727 22.033 10.6052C22.3096 9.93777 22.4519 9.22236 22.4519 8.49987C22.4519 7.77738 22.3096 7.06198 22.033 6.39452C21.7565 5.72706 21.3511 5.12063 20.8401 4.60987V4.60987Z"
                            stroke="#F9F1E6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <div class="product__image-buttons">
                        <a href="product.html" class="woocommerce-loop-product__link button product__button-watch">
                            Дивитись
                        </a>
                        <button class="button add_to_cart_button">
                            Додати у Кошик
                        </button>
                    </div>
                </div>
                <div class="product__description">
                    <h4 class="product__name">
                        Сумка “Екліпс”
                    </h4>
                    <h3 class="product__price price">
                        960,00 UAH
                    </h3>
                    <div class="product__avalible">
                        <div class="product__avalible-color"></div>
                        <div class="product__avalible-color"></div>
                        <div class="product__avalible-color"></div>
                    </div>
                </div>
            </div>
            
            <div class="product">
                <div class="product__image">
                    <img src="./img/product_1.webp" alt="product">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        class="product__image-like">
                        <path
                            d="M20.8401 4.60987C20.3294 4.09888 19.7229 3.69352 19.0555 3.41696C18.388 3.14039 17.6726 2.99805 16.9501 2.99805C16.2276 2.99805 15.5122 3.14039 14.8448 3.41696C14.1773 3.69352 13.5709 4.09888 13.0601 4.60987L12.0001 5.66987L10.9401 4.60987C9.90843 3.57818 8.50915 2.99858 7.05012 2.99858C5.59109 2.99858 4.19181 3.57818 3.16012 4.60987C2.12843 5.64156 1.54883 7.04084 1.54883 8.49987C1.54883 9.9589 2.12843 11.3582 3.16012 12.3899L4.22012 13.4499L12.0001 21.2299L19.7801 13.4499L20.8401 12.3899C21.3511 11.8791 21.7565 11.2727 22.033 10.6052C22.3096 9.93777 22.4519 9.22236 22.4519 8.49987C22.4519 7.77738 22.3096 7.06198 22.033 6.39452C21.7565 5.72706 21.3511 5.12063 20.8401 4.60987V4.60987Z"
                            stroke="#F9F1E6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <div class="product__image-buttons">
                        <a href="#product" class="woocommerce-loop-product__link button product__button-watch">
                            Дивитись
                        </a>
                        <button class="button add_to_cart_button">
                            Додати у Кошик
                        </button>
                    </div>
                </div>
                <div class="product__description">
                    <h4 class="product__name">
                        Сумка-багет “Монік”
                    </h4>
                    <h3 class="product__price price">
                        940,00 UAH
                    </h3>
                    <div class="product__avalible">
                        <div class="product__avalible-color"></div>
                        <div class="product__avalible-color"></div>
                        <div class="product__avalible-color"></div>
                        <div class="product__avalible-color"></div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product__image">
                    <img src="./img/product_3.webp" alt="product">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        class="product__image-like">
                        <path
                            d="M20.8401 4.60987C20.3294 4.09888 19.7229 3.69352 19.0555 3.41696C18.388 3.14039 17.6726 2.99805 16.9501 2.99805C16.2276 2.99805 15.5122 3.14039 14.8448 3.41696C14.1773 3.69352 13.5709 4.09888 13.0601 4.60987L12.0001 5.66987L10.9401 4.60987C9.90843 3.57818 8.50915 2.99858 7.05012 2.99858C5.59109 2.99858 4.19181 3.57818 3.16012 4.60987C2.12843 5.64156 1.54883 7.04084 1.54883 8.49987C1.54883 9.9589 2.12843 11.3582 3.16012 12.3899L4.22012 13.4499L12.0001 21.2299L19.7801 13.4499L20.8401 12.3899C21.3511 11.8791 21.7565 11.2727 22.033 10.6052C22.3096 9.93777 22.4519 9.22236 22.4519 8.49987C22.4519 7.77738 22.3096 7.06198 22.033 6.39452C21.7565 5.72706 21.3511 5.12063 20.8401 4.60987V4.60987Z"
                            stroke="#F9F1E6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <div class="product__image-buttons">
                        <a href="#product" class="woocommerce-loop-product__link button product__button-watch">
                            Дивитись
                        </a>
                        <button class="button add_to_cart_button">
                            Додати у Кошик
                        </button>
                    </div>
                </div>
                <div class="product__description">
                    <h4 class="product__name">
                        Багет “місяць”
                    </h4>
                    <h3 class="product__price price">
                        880,00 UAH
                    </h3>
                    <div class="product__avalible">
                        <div class="product__avalible-color"></div>
                        <div class="product__avalible-color"></div>
                        <div class="product__avalible-color"></div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product__image">
                    <img src="./img/product_2.webp" alt="product">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        class="product__image-like">
                        <path
                            d="M20.8401 4.60987C20.3294 4.09888 19.7229 3.69352 19.0555 3.41696C18.388 3.14039 17.6726 2.99805 16.9501 2.99805C16.2276 2.99805 15.5122 3.14039 14.8448 3.41696C14.1773 3.69352 13.5709 4.09888 13.0601 4.60987L12.0001 5.66987L10.9401 4.60987C9.90843 3.57818 8.50915 2.99858 7.05012 2.99858C5.59109 2.99858 4.19181 3.57818 3.16012 4.60987C2.12843 5.64156 1.54883 7.04084 1.54883 8.49987C1.54883 9.9589 2.12843 11.3582 3.16012 12.3899L4.22012 13.4499L12.0001 21.2299L19.7801 13.4499L20.8401 12.3899C21.3511 11.8791 21.7565 11.2727 22.033 10.6052C22.3096 9.93777 22.4519 9.22236 22.4519 8.49987C22.4519 7.77738 22.3096 7.06198 22.033 6.39452C21.7565 5.72706 21.3511 5.12063 20.8401 4.60987V4.60987Z"
                            stroke="#F9F1E6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <div class="product__image-buttons">
                        <a href="#product" class="woocommerce-loop-product__link button product__button-watch">
                            Дивитись
                        </a>
                        <button class="button add_to_cart_button">
                            Додати у Кошик
                        </button>
                    </div>
                </div>
                <div class="product__description">
                    <h4 class="product__name">
                        Сумка “Екліпс”
                    </h4>
                    <h3 class="product__price price">
                        960,00 UAH
                    </h3>
                    <div class="product__avalible">
                        <div class="product__avalible-color"></div>
                        <div class="product__avalible-color"></div>
                        <div class="product__avalible-color"></div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product__image">
                    <img src="./img/product_1.webp" alt="product">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        class="product__image-like">
                        <path
                            d="M20.8401 4.60987C20.3294 4.09888 19.7229 3.69352 19.0555 3.41696C18.388 3.14039 17.6726 2.99805 16.9501 2.99805C16.2276 2.99805 15.5122 3.14039 14.8448 3.41696C14.1773 3.69352 13.5709 4.09888 13.0601 4.60987L12.0001 5.66987L10.9401 4.60987C9.90843 3.57818 8.50915 2.99858 7.05012 2.99858C5.59109 2.99858 4.19181 3.57818 3.16012 4.60987C2.12843 5.64156 1.54883 7.04084 1.54883 8.49987C1.54883 9.9589 2.12843 11.3582 3.16012 12.3899L4.22012 13.4499L12.0001 21.2299L19.7801 13.4499L20.8401 12.3899C21.3511 11.8791 21.7565 11.2727 22.033 10.6052C22.3096 9.93777 22.4519 9.22236 22.4519 8.49987C22.4519 7.77738 22.3096 7.06198 22.033 6.39452C21.7565 5.72706 21.3511 5.12063 20.8401 4.60987V4.60987Z"
                            stroke="#F9F1E6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <div class="product__image-buttons">
                        <a href="#product" class="woocommerce-loop-product__link button product__button-watch">
                            Дивитись
                        </a>
                        <button class="button add_to_cart_button">
                            Додати у Кошик
                        </button>
                    </div>
                </div>
                <div class="product__description">
                    <h4 class="product__name">
                        Сумка-багет “Монік”
                    </h4>
                    <h3 class="product__price price">
                        940,00 UAH
                    </h3>
                    <div class="product__avalible">
                        <div class="product__avalible-color"></div>
                        <div class="product__avalible-color"></div>
                        <div class="product__avalible-color"></div>
                        <div class="product__avalible-color"></div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product__image">
                    <img src="./img/product_3.webp" alt="product">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        class="product__image-like">
                        <path
                            d="M20.8401 4.60987C20.3294 4.09888 19.7229 3.69352 19.0555 3.41696C18.388 3.14039 17.6726 2.99805 16.9501 2.99805C16.2276 2.99805 15.5122 3.14039 14.8448 3.41696C14.1773 3.69352 13.5709 4.09888 13.0601 4.60987L12.0001 5.66987L10.9401 4.60987C9.90843 3.57818 8.50915 2.99858 7.05012 2.99858C5.59109 2.99858 4.19181 3.57818 3.16012 4.60987C2.12843 5.64156 1.54883 7.04084 1.54883 8.49987C1.54883 9.9589 2.12843 11.3582 3.16012 12.3899L4.22012 13.4499L12.0001 21.2299L19.7801 13.4499L20.8401 12.3899C21.3511 11.8791 21.7565 11.2727 22.033 10.6052C22.3096 9.93777 22.4519 9.22236 22.4519 8.49987C22.4519 7.77738 22.3096 7.06198 22.033 6.39452C21.7565 5.72706 21.3511 5.12063 20.8401 4.60987V4.60987Z"
                            stroke="#F9F1E6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <div class="product__image-buttons">
                        <a href="#product" class="woocommerce-loop-product__link button product__button-watch">
                            Дивитись
                        </a>
                        <button class="button add_to_cart_button">
                            Додати у Кошик
                        </button>
                    </div>
                </div>
                <div class="product__description">
                    <h4 class="product__name">
                        Багет “місяць”
                    </h4>
                    <h3 class="product__price price">
                        880,00 UAH
                    </h3>
                    <div class="product__avalible">
                        <div class="product__avalible-color"></div>
                        <div class="product__avalible-color"></div>
                        <div class="product__avalible-color"></div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product__image">
                    <img src="./img/product_2.webp" alt="product">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        class="product__image-like">
                        <path
                            d="M20.8401 4.60987C20.3294 4.09888 19.7229 3.69352 19.0555 3.41696C18.388 3.14039 17.6726 2.99805 16.9501 2.99805C16.2276 2.99805 15.5122 3.14039 14.8448 3.41696C14.1773 3.69352 13.5709 4.09888 13.0601 4.60987L12.0001 5.66987L10.9401 4.60987C9.90843 3.57818 8.50915 2.99858 7.05012 2.99858C5.59109 2.99858 4.19181 3.57818 3.16012 4.60987C2.12843 5.64156 1.54883 7.04084 1.54883 8.49987C1.54883 9.9589 2.12843 11.3582 3.16012 12.3899L4.22012 13.4499L12.0001 21.2299L19.7801 13.4499L20.8401 12.3899C21.3511 11.8791 21.7565 11.2727 22.033 10.6052C22.3096 9.93777 22.4519 9.22236 22.4519 8.49987C22.4519 7.77738 22.3096 7.06198 22.033 6.39452C21.7565 5.72706 21.3511 5.12063 20.8401 4.60987V4.60987Z"
                            stroke="#F9F1E6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <div class="product__image-buttons">
                        <a href="#product" class="woocommerce-loop-product__link button product__button-watch">
                            Дивитись
                        </a>
                        <button class="button add_to_cart_button">
                            Додати у Кошик
                        </button>
                    </div>
                </div>
                <div class="product__description">
                    <h4 class="product__name">
                        Сумка “Екліпс”
                    </h4>
                    <h3 class="product__price price">
                        960,00 UAH
                    </h3>
                    <div class="product__avalible">
                        <div class="product__avalible-color"></div>
                        <div class="product__avalible-color"></div>
                        <div class="product__avalible-color"></div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product__image">
                    <img src="./img/product_1.webp" alt="product">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        class="product__image-like">
                        <path
                            d="M20.8401 4.60987C20.3294 4.09888 19.7229 3.69352 19.0555 3.41696C18.388 3.14039 17.6726 2.99805 16.9501 2.99805C16.2276 2.99805 15.5122 3.14039 14.8448 3.41696C14.1773 3.69352 13.5709 4.09888 13.0601 4.60987L12.0001 5.66987L10.9401 4.60987C9.90843 3.57818 8.50915 2.99858 7.05012 2.99858C5.59109 2.99858 4.19181 3.57818 3.16012 4.60987C2.12843 5.64156 1.54883 7.04084 1.54883 8.49987C1.54883 9.9589 2.12843 11.3582 3.16012 12.3899L4.22012 13.4499L12.0001 21.2299L19.7801 13.4499L20.8401 12.3899C21.3511 11.8791 21.7565 11.2727 22.033 10.6052C22.3096 9.93777 22.4519 9.22236 22.4519 8.49987C22.4519 7.77738 22.3096 7.06198 22.033 6.39452C21.7565 5.72706 21.3511 5.12063 20.8401 4.60987V4.60987Z"
                            stroke="#F9F1E6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <div class="product__image-buttons">
                        <a href="#product" class="woocommerce-loop-product__link button product__button-watch">
                            Дивитись
                        </a>
                        <button class="button add_to_cart_button">
                            Додати у Кошик
                        </button>
                    </div>
                </div>
                <div class="product__description">
                    <h4 class="product__name">
                        Сумка-багет “Монік”
                    </h4>
                    <h3 class="product__price price">
                        940,00 UAH
                    </h3>
                    <div class="product__avalible">
                        <div class="product__avalible-color"></div>
                        <div class="product__avalible-color"></div>
                        <div class="product__avalible-color"></div>
                        <div class="product__avalible-color"></div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product__image">
                    <img src="./img/product_3.webp" alt="product">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        class="product__image-like">
                        <path
                            d="M20.8401 4.60987C20.3294 4.09888 19.7229 3.69352 19.0555 3.41696C18.388 3.14039 17.6726 2.99805 16.9501 2.99805C16.2276 2.99805 15.5122 3.14039 14.8448 3.41696C14.1773 3.69352 13.5709 4.09888 13.0601 4.60987L12.0001 5.66987L10.9401 4.60987C9.90843 3.57818 8.50915 2.99858 7.05012 2.99858C5.59109 2.99858 4.19181 3.57818 3.16012 4.60987C2.12843 5.64156 1.54883 7.04084 1.54883 8.49987C1.54883 9.9589 2.12843 11.3582 3.16012 12.3899L4.22012 13.4499L12.0001 21.2299L19.7801 13.4499L20.8401 12.3899C21.3511 11.8791 21.7565 11.2727 22.033 10.6052C22.3096 9.93777 22.4519 9.22236 22.4519 8.49987C22.4519 7.77738 22.3096 7.06198 22.033 6.39452C21.7565 5.72706 21.3511 5.12063 20.8401 4.60987V4.60987Z"
                            stroke="#F9F1E6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <div class="product__image-buttons">
                        <a href="#product" class="woocommerce-loop-product__link button product__button-watch">
                            Дивитись
                        </a>
                        <button class="button add_to_cart_button">
                            Додати у Кошик
                        </button>
                    </div>
                </div>
                <div class="product__description">
                    <h4 class="product__name">
                        Багет “місяць”
                    </h4>
                    <h3 class="product__price price">
                        880,00 UAH
                    </h3>
                    <div class="product__avalible">
                        <div class="product__avalible-color"></div>
                        <div class="product__avalible-color"></div>
                        <div class="product__avalible-color"></div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product__image">
                    <img src="./img/product_2.webp" alt="product">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        class="product__image-like">
                        <path
                            d="M20.8401 4.60987C20.3294 4.09888 19.7229 3.69352 19.0555 3.41696C18.388 3.14039 17.6726 2.99805 16.9501 2.99805C16.2276 2.99805 15.5122 3.14039 14.8448 3.41696C14.1773 3.69352 13.5709 4.09888 13.0601 4.60987L12.0001 5.66987L10.9401 4.60987C9.90843 3.57818 8.50915 2.99858 7.05012 2.99858C5.59109 2.99858 4.19181 3.57818 3.16012 4.60987C2.12843 5.64156 1.54883 7.04084 1.54883 8.49987C1.54883 9.9589 2.12843 11.3582 3.16012 12.3899L4.22012 13.4499L12.0001 21.2299L19.7801 13.4499L20.8401 12.3899C21.3511 11.8791 21.7565 11.2727 22.033 10.6052C22.3096 9.93777 22.4519 9.22236 22.4519 8.49987C22.4519 7.77738 22.3096 7.06198 22.033 6.39452C21.7565 5.72706 21.3511 5.12063 20.8401 4.60987V4.60987Z"
                            stroke="#F9F1E6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <div class="product__image-buttons">
                        <a href="#product" class="woocommerce-loop-product__link button product__button-watch">
                            Дивитись
                        </a>
                        <button class="button add_to_cart_button">
                            Додати у Кошик
                        </button>
                    </div>
                </div>
                <div class="product__description">
                    <h4 class="product__name">
                        Сумка “Екліпс”
                    </h4>
                    <h3 class="product__price price">
                        960,00 UAH
                    </h3>
                    <div class="product__avalible">
                        <div class="product__avalible-color"></div>
                        <div class="product__avalible-color"></div>
                        <div class="product__avalible-color"></div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product__image">
                    <img src="./img/product_1.webp" alt="product">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        class="product__image-like">
                        <path
                            d="M20.8401 4.60987C20.3294 4.09888 19.7229 3.69352 19.0555 3.41696C18.388 3.14039 17.6726 2.99805 16.9501 2.99805C16.2276 2.99805 15.5122 3.14039 14.8448 3.41696C14.1773 3.69352 13.5709 4.09888 13.0601 4.60987L12.0001 5.66987L10.9401 4.60987C9.90843 3.57818 8.50915 2.99858 7.05012 2.99858C5.59109 2.99858 4.19181 3.57818 3.16012 4.60987C2.12843 5.64156 1.54883 7.04084 1.54883 8.49987C1.54883 9.9589 2.12843 11.3582 3.16012 12.3899L4.22012 13.4499L12.0001 21.2299L19.7801 13.4499L20.8401 12.3899C21.3511 11.8791 21.7565 11.2727 22.033 10.6052C22.3096 9.93777 22.4519 9.22236 22.4519 8.49987C22.4519 7.77738 22.3096 7.06198 22.033 6.39452C21.7565 5.72706 21.3511 5.12063 20.8401 4.60987V4.60987Z"
                            stroke="#F9F1E6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <div class="product__image-buttons">
                        <a href="#product" class="woocommerce-loop-product__link button product__button-watch">
                            Дивитись
                        </a>
                        <button class="button add_to_cart_button">
                            Додати у Кошик
                        </button>
                    </div>
                </div>
                <div class="product__description">
                    <h4 class="product__name">
                        Сумка-багет “Монік”
                    </h4>
                    <h3 class="product__price price">
                        940,00 UAH
                    </h3>
                    <div class="product__avalible">
                        <div class="product__avalible-color"></div>
                        <div class="product__avalible-color"></div>
                        <div class="product__avalible-color"></div>
                        <div class="product__avalible-color"></div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product__image">
                    <img src="./img/product_3.webp" alt="product">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        class="product__image-like">
                        <path
                            d="M20.8401 4.60987C20.3294 4.09888 19.7229 3.69352 19.0555 3.41696C18.388 3.14039 17.6726 2.99805 16.9501 2.99805C16.2276 2.99805 15.5122 3.14039 14.8448 3.41696C14.1773 3.69352 13.5709 4.09888 13.0601 4.60987L12.0001 5.66987L10.9401 4.60987C9.90843 3.57818 8.50915 2.99858 7.05012 2.99858C5.59109 2.99858 4.19181 3.57818 3.16012 4.60987C2.12843 5.64156 1.54883 7.04084 1.54883 8.49987C1.54883 9.9589 2.12843 11.3582 3.16012 12.3899L4.22012 13.4499L12.0001 21.2299L19.7801 13.4499L20.8401 12.3899C21.3511 11.8791 21.7565 11.2727 22.033 10.6052C22.3096 9.93777 22.4519 9.22236 22.4519 8.49987C22.4519 7.77738 22.3096 7.06198 22.033 6.39452C21.7565 5.72706 21.3511 5.12063 20.8401 4.60987V4.60987Z"
                            stroke="#F9F1E6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <div class="product__image-buttons">
                        <a href="#product" class="woocommerce-loop-product__link button product__button-watch">
                            Дивитись
                        </a>
                        <button class="button add_to_cart_button">
                            Додати у Кошик
                        </button>
                    </div>
                </div>
                <div class="product__description">
                    <h4 class="product__name">
                        Багет “місяць”
                    </h4>
                    <h3 class="product__price price">
                        880,00 UAH
                    </h3>
                    <div class="product__avalible">
                        <div class="product__avalible-color"></div>
                        <div class="product__avalible-color"></div>
                        <div class="product__avalible-color"></div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product__image">
                    <img src="./img/product_2.webp" alt="product">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        class="product__image-like">
                        <path
                            d="M20.8401 4.60987C20.3294 4.09888 19.7229 3.69352 19.0555 3.41696C18.388 3.14039 17.6726 2.99805 16.9501 2.99805C16.2276 2.99805 15.5122 3.14039 14.8448 3.41696C14.1773 3.69352 13.5709 4.09888 13.0601 4.60987L12.0001 5.66987L10.9401 4.60987C9.90843 3.57818 8.50915 2.99858 7.05012 2.99858C5.59109 2.99858 4.19181 3.57818 3.16012 4.60987C2.12843 5.64156 1.54883 7.04084 1.54883 8.49987C1.54883 9.9589 2.12843 11.3582 3.16012 12.3899L4.22012 13.4499L12.0001 21.2299L19.7801 13.4499L20.8401 12.3899C21.3511 11.8791 21.7565 11.2727 22.033 10.6052C22.3096 9.93777 22.4519 9.22236 22.4519 8.49987C22.4519 7.77738 22.3096 7.06198 22.033 6.39452C21.7565 5.72706 21.3511 5.12063 20.8401 4.60987V4.60987Z"
                            stroke="#F9F1E6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <div class="product__image-buttons">
                        <a href="#product" class="woocommerce-loop-product__link button product__button-watch">
                            Дивитись
                        </a>
                        <button class="button add_to_cart_button">
                            Додати у Кошик
                        </button>
                    </div>
                </div>
                <div class="product__description">
                    <h4 class="product__name">
                        Сумка “Екліпс”
                    </h4>
                    <h3 class="product__price price">
                        960,00 UAH
                    </h3>
                    <div class="product__avalible">
                        <div class="product__avalible-color"></div>
                        <div class="product__avalible-color"></div>
                        <div class="product__avalible-color"></div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product__image">
                    <img src="./img/product_1.webp" alt="product">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        class="product__image-like">
                        <path
                            d="M20.8401 4.60987C20.3294 4.09888 19.7229 3.69352 19.0555 3.41696C18.388 3.14039 17.6726 2.99805 16.9501 2.99805C16.2276 2.99805 15.5122 3.14039 14.8448 3.41696C14.1773 3.69352 13.5709 4.09888 13.0601 4.60987L12.0001 5.66987L10.9401 4.60987C9.90843 3.57818 8.50915 2.99858 7.05012 2.99858C5.59109 2.99858 4.19181 3.57818 3.16012 4.60987C2.12843 5.64156 1.54883 7.04084 1.54883 8.49987C1.54883 9.9589 2.12843 11.3582 3.16012 12.3899L4.22012 13.4499L12.0001 21.2299L19.7801 13.4499L20.8401 12.3899C21.3511 11.8791 21.7565 11.2727 22.033 10.6052C22.3096 9.93777 22.4519 9.22236 22.4519 8.49987C22.4519 7.77738 22.3096 7.06198 22.033 6.39452C21.7565 5.72706 21.3511 5.12063 20.8401 4.60987V4.60987Z"
                            stroke="#F9F1E6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <div class="product__image-buttons">
                        <a href="#product" class="woocommerce-loop-product__link button product__button-watch">
                            Дивитись
                        </a>
                        <button class="button add_to_cart_button">
                            Додати у Кошик
                        </button>
                    </div>
                </div>
                <div class="product__description">
                    <h4 class="product__name">
                        Сумка-багет “Монік”
                    </h4>
                    <h3 class="product__price price">
                        940,00 UAH
                    </h3>
                    <div class="product__avalible">
                        <div class="product__avalible-color"></div>
                        <div class="product__avalible-color"></div>
                        <div class="product__avalible-color"></div>
                        <div class="product__avalible-color"></div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product__image">
                    <img src="./img/product_3.webp" alt="product">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        class="product__image-like">
                        <path
                            d="M20.8401 4.60987C20.3294 4.09888 19.7229 3.69352 19.0555 3.41696C18.388 3.14039 17.6726 2.99805 16.9501 2.99805C16.2276 2.99805 15.5122 3.14039 14.8448 3.41696C14.1773 3.69352 13.5709 4.09888 13.0601 4.60987L12.0001 5.66987L10.9401 4.60987C9.90843 3.57818 8.50915 2.99858 7.05012 2.99858C5.59109 2.99858 4.19181 3.57818 3.16012 4.60987C2.12843 5.64156 1.54883 7.04084 1.54883 8.49987C1.54883 9.9589 2.12843 11.3582 3.16012 12.3899L4.22012 13.4499L12.0001 21.2299L19.7801 13.4499L20.8401 12.3899C21.3511 11.8791 21.7565 11.2727 22.033 10.6052C22.3096 9.93777 22.4519 9.22236 22.4519 8.49987C22.4519 7.77738 22.3096 7.06198 22.033 6.39452C21.7565 5.72706 21.3511 5.12063 20.8401 4.60987V4.60987Z"
                            stroke="#F9F1E6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <div class="product__image-buttons">
                        <a href="#product" class="woocommerce-loop-product__link button product__button-watch">
                            Дивитись
                        </a>
                        <button class="button add_to_cart_button">
                            Додати у Кошик
                        </button>
                    </div>
                </div>
                <div class="product__description">
                    <h4 class="product__name">
                        Багет “місяць”
                    </h4>
                    <h3 class="product__price price">
                        880,00 UAH
                    </h3>
                    <div class="product__avalible">
                        <div class="product__avalible-color"></div>
                        <div class="product__avalible-color"></div>
                        <div class="product__avalible-color"></div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product__image">
                    <img src="./img/product_2.webp" alt="product">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        class="product__image-like">
                        <path
                            d="M20.8401 4.60987C20.3294 4.09888 19.7229 3.69352 19.0555 3.41696C18.388 3.14039 17.6726 2.99805 16.9501 2.99805C16.2276 2.99805 15.5122 3.14039 14.8448 3.41696C14.1773 3.69352 13.5709 4.09888 13.0601 4.60987L12.0001 5.66987L10.9401 4.60987C9.90843 3.57818 8.50915 2.99858 7.05012 2.99858C5.59109 2.99858 4.19181 3.57818 3.16012 4.60987C2.12843 5.64156 1.54883 7.04084 1.54883 8.49987C1.54883 9.9589 2.12843 11.3582 3.16012 12.3899L4.22012 13.4499L12.0001 21.2299L19.7801 13.4499L20.8401 12.3899C21.3511 11.8791 21.7565 11.2727 22.033 10.6052C22.3096 9.93777 22.4519 9.22236 22.4519 8.49987C22.4519 7.77738 22.3096 7.06198 22.033 6.39452C21.7565 5.72706 21.3511 5.12063 20.8401 4.60987V4.60987Z"
                            stroke="#F9F1E6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <div class="product__image-buttons">
                        <a href="#product" class="woocommerce-loop-product__link button product__button-watch">
                            Дивитись
                        </a>
                        <button class="button add_to_cart_button">
                            Додати у Кошик
                        </button>
                    </div>
                </div>
                <div class="product__description">
                    <h4 class="product__name">
                        Сумка “Екліпс”
                    </h4>
                    <h3 class="product__price price">
                        960,00 UAH
                    </h3>
                    <div class="product__avalible">
                        <div class="product__avalible-color"></div>
                        <div class="product__avalible-color"></div>
                        <div class="product__avalible-color"></div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product__image">
                    <img src="./img/product_1.webp" alt="product">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        class="product__image-like">
                        <path
                            d="M20.8401 4.60987C20.3294 4.09888 19.7229 3.69352 19.0555 3.41696C18.388 3.14039 17.6726 2.99805 16.9501 2.99805C16.2276 2.99805 15.5122 3.14039 14.8448 3.41696C14.1773 3.69352 13.5709 4.09888 13.0601 4.60987L12.0001 5.66987L10.9401 4.60987C9.90843 3.57818 8.50915 2.99858 7.05012 2.99858C5.59109 2.99858 4.19181 3.57818 3.16012 4.60987C2.12843 5.64156 1.54883 7.04084 1.54883 8.49987C1.54883 9.9589 2.12843 11.3582 3.16012 12.3899L4.22012 13.4499L12.0001 21.2299L19.7801 13.4499L20.8401 12.3899C21.3511 11.8791 21.7565 11.2727 22.033 10.6052C22.3096 9.93777 22.4519 9.22236 22.4519 8.49987C22.4519 7.77738 22.3096 7.06198 22.033 6.39452C21.7565 5.72706 21.3511 5.12063 20.8401 4.60987V4.60987Z"
                            stroke="#F9F1E6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <div class="product__image-buttons">
                        <a href="#product" class="woocommerce-loop-product__link button product__button-watch">
                            Дивитись
                        </a>
                        <button class="button add_to_cart_button">
                            Додати у Кошик
                        </button>
                    </div>
                </div>
                <div class="product__description">
                    <h4 class="product__name">
                        Сумка-багет “Монік”
                    </h4>
                    <h3 class="product__price price">
                        940,00 UAH
                    </h3>
                    <div class="product__avalible">
                        <div class="product__avalible-color"></div>
                        <div class="product__avalible-color"></div>
                        <div class="product__avalible-color"></div>
                        <div class="product__avalible-color"></div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product__image">
                    <img src="./img/product_3.webp" alt="product">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        class="product__image-like">
                        <path
                            d="M20.8401 4.60987C20.3294 4.09888 19.7229 3.69352 19.0555 3.41696C18.388 3.14039 17.6726 2.99805 16.9501 2.99805C16.2276 2.99805 15.5122 3.14039 14.8448 3.41696C14.1773 3.69352 13.5709 4.09888 13.0601 4.60987L12.0001 5.66987L10.9401 4.60987C9.90843 3.57818 8.50915 2.99858 7.05012 2.99858C5.59109 2.99858 4.19181 3.57818 3.16012 4.60987C2.12843 5.64156 1.54883 7.04084 1.54883 8.49987C1.54883 9.9589 2.12843 11.3582 3.16012 12.3899L4.22012 13.4499L12.0001 21.2299L19.7801 13.4499L20.8401 12.3899C21.3511 11.8791 21.7565 11.2727 22.033 10.6052C22.3096 9.93777 22.4519 9.22236 22.4519 8.49987C22.4519 7.77738 22.3096 7.06198 22.033 6.39452C21.7565 5.72706 21.3511 5.12063 20.8401 4.60987V4.60987Z"
                            stroke="#F9F1E6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <div class="product__image-buttons">
                        <a href="#product" class="woocommerce-loop-product__link button product__button-watch">
                            Дивитись
                        </a>
                        <button class="button add_to_cart_button">
                            Додати у Кошик
                        </button>
                    </div>
                </div>
                <div class="product__description">
                    <h4 class="product__name">
                        Багет “місяць”
                    </h4>
                    <h3 class="product__price price">
                        880,00 UAH
                    </h3>
                    <div class="product__avalible">
                        <div class="product__avalible-color"></div>
                        <div class="product__avalible-color"></div>
                        <div class="product__avalible-color"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="woocommerce-pagination">
            <a href="#" class="woocommerce-pagination__prev" aria-label="Попередня сторінка">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 17 16" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.7324 11.8159C10.9621 11.577 10.9546 11.1972 10.7158 10.9675L7.56557 8L10.7158 5.0325C10.9546 4.80282 10.9621 4.423 10.7324 4.18413C10.5027 3.94527 10.1229 3.93782 9.88404 4.1675L6.28404 7.5675C6.16639 7.68062 6.0999 7.83679 6.0999 8C6.0999 8.16321 6.16639 8.31938 6.28404 8.4325L9.88404 11.8325C10.1229 12.0622 10.5027 12.0547 10.7324 11.8159Z" fill="#626262"/>
                </svg>
            </a>
            <ul class="woocommerce-pagination__list">
                <li class="woocommerce-pagination__item"><a href="#" class="woocommerce-pagination__link active">1</a></li>
                <li class="woocommerce-pagination__item"><a href="#" class="woocommerce-pagination__link">2</a></li>
                <li class="woocommerce-pagination__item"><a href="#" class="woocommerce-pagination__link">3</a></li>
            </ul>
            <a href="#" class="woocommerce-pagination__next" aria-label="Наступна сторінка">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 17 16" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6.2676 11.8159C6.03792 11.577 6.04537 11.1972 6.28423 10.9675L9.43443 8L6.28423 5.0325C6.04537 4.80282 6.03792 4.423 6.2676 4.18413C6.49727 3.94527 6.8771 3.93782 7.11596 4.1675L10.716 7.5675C10.8336 7.68062 10.9001 7.83679 10.9001 8C10.9001 8.16321 10.8336 8.31938 10.716 8.4325L7.11596 11.8325C6.8771 12.0622 6.49727 12.0547 6.2676 11.8159Z" fill="#626262"/>
                </svg>
            </a>
        </div>
    </div>
</section>